name: Build dawn_wrapper Project

on:
  push:
    branches: [main, master, dev, develop]
  pull_request:
    branches: [main, master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14
        with:
          version: latest # Specify your desired Emscripten version
          actions-cache-folder: "emsdk-cache"

      - name: Verify Emscripten installation
        run: |
          emcc --version
          em++ --version

      - name: Build and run
        run: ./test/build_and_run
